
body {
	font-family: Georgia;
}

#main-content {
	background-image: linear-gradient(bottom, rgb(212,212,212) 0%, rgb(240,240,240) 50%, rgb(245,245,245) 75%);
	background-image: -o-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(240,240,240) 50%, rgb(245,245,245) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(240,240,240) 50%, rgb(245,245,245) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(240,240,240) 50%, rgb(245,245,245) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(240,240,240) 50%, rgb(245,245,245) 75%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(212,212,212)),
	color-stop(0.5, rgb(240,240,240)),
	color-stop(0.75, rgb(245,245,245))
	);	
}

#mainmap {
	height: 400px;
	width: 100%;
	background-color: #E6F1F6;
}

/* overrides a bootstrap css value causing the map tiles to display wonky. */
#mainmap img {
	max-width: none;
}

td > a {
	text-decoration: none;
}

tr.hover {
	cursor: pointer;
	background-color: pink;

}

#house-map {
	width: 300px;
	height: 300px;
	float: left;
}

#signup-form {
	float:left;
	width:500px;
}

.clear {
	clear: both;
}

.form-wrapper h2,h3 {
	display: inline;
}

#radius-location-search {
	width: 50px;
	height: auto;
}

#submit-location-search {
	margin-bottom: 9px;
	margin-left: 10px;
}

.hero-unit {
	padding: 0px;
}

#search-banner > form {
	margin: 0px;
}

#search-banner {
	text-align: center;
	margin-bottom: 8px;
	padding-top: 20px;
	padding-bottom: 10px;
	-webkit-box-shadow: 3px 2px 10px rgba(0,0,0,.5);
	-moz-box-shadow: 3px 2px 10px rgba(0,0,0,.5);
	box-shadow: 3px 2px 10px rgba(0,0,0,.5);
}

#content {
}

input, textarea {
	width: 350px;
}

.label-inline {
	display: inline;
}

#form-accommodations, #form-events, #form-share {
}
