#mainmap {
	height: 400px;
	width: 100%;
	background-color: #E6F1F6;
}

label {
	display:block;
}

td > a {
	text-decoration: none;
}

tr.hover {
	cursor: pointer;
	background-color: pink;

}

#house-map {
	width: 300px;
	height: 300px;
	background-color: #E6F1F6;
	float: left;
}

#signup-form {
	float:left;
	width:500px;
}

.clear {
	clear: both;
}

.form-wrapper h2,h3 {
	display: inline;
}

#form-address, #input-location-search {
	width: 300px;
}

#radius-location-search {
	width: 50px;
}

.header-micro {
	font-size: 50%;
}

