
body {
	//font-family: 'Advent Pro', sans-serif;
	//font-family: 'Average', serif;
	font-family: 'Port Lligat Sans', sans-serif;
	font-size: 14px;
	//font-family: 'Balthazar', serif;
	//font-family: 'Pontano Sans', sans-serif;
	//font-family: 'Belleza', sans-serif;
	//font-family: 'Fanwood Text', serif;
	//font-family: 'Marmelad', sans-serif;
}

#main-content {
	background-image: linear-gradient(bottom, rgb(212,212,212) 0%, rgb(240,240,240) 50%, rgb(245,245,245) 75%);
	background-image: -o-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(240,240,240) 50%, rgb(245,245,245) 75%);
	background-image: -moz-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(240,240,240) 50%, rgb(245,245,245) 75%);
	background-image: -webkit-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(240,240,240) 50%, rgb(245,245,245) 75%);
	background-image: -ms-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(240,240,240) 50%, rgb(245,245,245) 75%);

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(212,212,212)),
	color-stop(0.5, rgb(240,240,240)),
	color-stop(0.75, rgb(245,245,245))
	);	
}

#mainmap {
	height: 400px;
	width: 1170px;
	background-color: #E6F1F6;
}

/* overrides a bootstrap css value causing the map tiles to display wonky. */
#mainmap img, #house-map img {
	max-width: none;
	vertical-align: baseline;
	border: 0px;
}

td > a {
	text-decoration: none;
}

tr.hover {
	cursor: pointer;
	background-color: pink;

}

#house-map {
	width: 300px;
	height: 300px;
}

#signup-form {
	float:left;
	width:500px;
}

.clear {
	clear: both;
}

.form-wrapper h2,h3 {
	display: inline;
}

#radius-location-search {
	width: 50px;
	height: auto;
}

#submit-location-search {
	margin-bottom: 9px;
	margin-left: 10px;
}

.hero-unit {
	padding: 0px;
}

#search-banner > form {
	margin: 0px;
}

#search-banner {
	text-align: center;
	margin-bottom: 8px;
	padding-bottom: 10px;
	-webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,.5);
	-moz-box-shadow: 3px 2px 10px rgba(0,0,0,.5);
	box-shadow: 0px 4px 5px -2px rgba(0,0,0,.5);
}

#content {
}

input, textarea {
	width: 350px;
}

.label-inline {
	display: inline;
}

#search-alert-empty {
	width: 400px;
	margin: auto;
}

#home-link {
	padding-left: 30px;
	margin-right: 10px;
}

#house-detail {
	width:500px;
	float: left;
}

#top-nav {
	height: 31px;
	margin-top: 20px;
	margin-bottom: 30px;
}

footer {
	background: #EDEDED;
	padding: 30px;
	margin-top: 30px;
	font-size: 14px;
}

label, input, button, select, textarea, body {
	font-size: 16px;
}

.house-map-container {
	margin-left: 50px;
	padding: 10px;
	float: left;
	background-image: linear-gradient(bottom, rgb(255,255,255) 2%, rgb(252,249,252) 4%, rgb(186,182,186) 76%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 2%, rgb(252,249,252) 4%, rgb(186,182,186) 76%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 2%, rgb(252,249,252) 4%, rgb(186,182,186) 76%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 2%, rgb(252,249,252) 4%, rgb(186,182,186) 76%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 2%, rgb(252,249,252) 4%, rgb(186,182,186) 76%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(255,255,255)),
		color-stop(0.04, rgb(252,249,252)),
		color-stop(0.76, rgb(186,182,186))
	);
}

.house-para-text {
	padding: 10px;
}

header a {
	color: black;
	text-decoration: none;
	vertical-align: middle;
}

header a:hover {
	color: #666;
	text-decoration: none;
}

header img {
	vertical-align: baseline;
}

header h1 {
	font-family: 'Average', serif;
}

#search-banner h2 {
	font-family: 'Marmelad', sans-serif;
}
